<h4> Welcome to Your Profile </h4>
<%= image_tag @current_user.profile_picture ,size: "150"%>
<div style="color:white;background-color: black;">
<p>Name: <%= @current_user.name %></p>
<p>Username: <%=@current_user.username %></p>
<p>Email: <%=@current_user.email %></p>
<p>Phone_Number: <%=@current_user.phone_number %></p>
</div>
<br>

<div>
  <%= link_to 'Followers', follower_path(token: @token) %>
  <br> </br>
  <%= link_to 'Following', following_path(token: @token) %>
</div>
<br>
<div>
  <%= link_to 'Create a new post',new_post_path(token: @token) %>
  <br>
  <br>
  <%=link_to 'Show all posts',allposts_path(token: @token) %>
</div>
<div>
  <% byebug %>
  <p> Posts: <%= @current_user.posts.count %> </p>
</div>

<div>
  <% byebug %>
  <p> Followers: <%= @current_user.followers.count %> </p>
</div>
<div>
  <% byebug %>
  <p> Following: <%= @current_user.followees.count %> </p>
</div>
<p><u>Search</u></p>
<%= link_to 'Find User', search_path(token:@token) %>

