<h4> Welcome to Your Profile </h4>
<p>Logged in as: <%= @current_user.name %> </p>

<%= image_tag @current_user.profile_picture ,size: "150"%>
<div>
<p><%=@current_user.username %></p>
</div>
<br>

<div>
  <%= link_to 'Followers', follower_path(token: @token) %>
  <br> </br>
  <%= link_to 'Following', following_path(token: @token) %>
</div>
<br>
<div>
  <%= link_to 'Create a new post',new_post_path(token: @token) %>
  <br>
  <br>
  <%=link_to 'Show all posts',allposts_path(token: @token,user:@current_user) %>
</div>
<div>
  <p> Posts: <%= @current_user.posts.count %> </p>
</div>

<div>
  <p> Followers: <%= @current_user.followers.count %> </p>
</div>
<div>
  <p> Following: <%= @current_user.followees.count %> </p>
</div>
<p><u>Search</u></p>
<%= link_to 'Find User', search_path(token:@token) %>

<br>
<%= link_to "logout",logout_path %>
<br>

