<% if @user.nil? %>
  <% byebug %>
  <% flash.each do |type ,msg| %>
      <% byebug %>
      <div>
        <%= msg %>
      </div>
  <% end %>
<% end %>


<h1>User Login</h1>
<%= form_with url: '/login' , data: { turbo: false } do |form| %>
  <br>
  <div>
    <%= form.label :Username, "Username:" %>
    <%= form.text_field :username %>
  </div>
  <br>
  <div>
    <%= form.label :Password, "Password:" %>
    <%= form.password_field :password%>
  </div>
  <br>

  <br>
  <br>
  <div>
    <%= form.submit "Login" %>
  </div>

<% end %>









