<% if @user.nil? %>
  <% byebug %>
  <% flash.each do |type ,msg| %>
      <% byebug %>
      <div>
        <%= msg %>
      </div>
  <% end %>
<% end %>

<% if @user.password != params[:password] %>
  <% byebug %>
  <% flash.each do |type ,msg| %>
      <% byebug %>
      <div>
        <%= msg %>
      </div>
  <% end %>
<% end %>


<h1>User Login</h1>
<%= form_with path:profile_path , data: { turbo: false } do |form| %>
  <br>
  <div>
    <%= form.label :Username, "Username:" %>
    <%= form.text_field :username %>
  </div>
  <br>
  <div>
    <%= form.label :Password, "Password:" %>
    <%= form.password_field :password%>
  </div>
  <br>
  <br>
  <div>
    <%= button_to 'Login',profile_path(user: @user) %>
  </div>
  <br>
  <br>
  <%= link_to "Signup" , new_user_path %>

<% end %>









