 <html>
<style type="text/css">
  td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}
</style>
<h4>Search User:</h4>
<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Profile photo</th>
    <th> Follow Status</th>
  </tr>
  <% @user.each do |f| %>
    <tr>
      <td>
        <%= link_to f.name ,showprofile_path(token:@token,user: f.id)%>
      <td>
        <%= f.username %>
      </td>
      <td>
        <%= image_tag f.profile_picture, size: "50" %>
      </td>
      <td>
      <%if @current_user.followees.ids.include?(f.id) %>
          <%= link_to 'unfollow', deletem_path(token: @token, user:f.id)%>
      <%else %>
          <%= link_to 'Follow', manage_path(token: @token, user:f.id)%>
      <%end%>
      </td>
    </tr>
  <% end %>
</table>
<br>
<br>
<%= link_to 'Back', :back %>
</html>



